html,
body {
  margin: 0px;
  padding: 0px;
  min-width: 624px;
  max-width: 100%;
  height: 100%;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #3A3A3A;
  line-height: 1.42857;
}
a {
  outline: none;
  text-decoration: none;
  color: #3A3A3A;
}
.clearfix:after {
  content: '';
  clear: both;
  display: table;
  height: 0;
}
.unstyle {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
.list-inline li {
  display: inline-block;
}
.top-panel {
  background-color: #F7F7F7;
  min-height: 92px;
  text-align: center;
}
.logo {
  display: block;
  margin: -90px 0 0;
  background: url("../img/vector-smart-object-copy-15.png") no-repeat 0px 0px;
  width: 182px;
  height: 185px;
  padding: 15px 15px 5px 15px;
}
.marg-auto {
  margin-left: auto;
  margin-right: auto;
}
.authorization ul {
  float: right;
  margin-top: 32px;
}
.authorization a {
  padding: 8px 10px;
  font-size: 14px !important;
}
.authorization a:hover {
  border-radius: 5px;
  background-color: #E7E7E7;
}
.max-w-1200 {
  max-width: 1234px;
  padding: 0px 15px;
}
.socio {
  float: right;
  margin: -94px 19px 0px;
}
.socio .facebook,
.socio .twitter,
.socio .google-plus {
  display: block;
  width: 40px;
  height: 40px;
  border: 1px solid #D6D6D6;
  border-radius: 25px;
}
.socio .facebook:hover,
.socio .twitter:hover,
.socio .google-plus:hover {
  border: 1px solid #00B625;
}
.socio .facebook {
  background: url("../img/socio/1380717345-06-facebook.png") no-repeat 14px 10px;
}
.socio .facebook:hover {
  background: url("../img/socio/1380717345-06-facebook-active.png") no-repeat 14px 10px;
}
.socio .twitter {
  background: url("../img/socio/1380717543-03-twitter.png") no-repeat 10px 11px;
}
.socio .twitter:hover {
  background: url("../img/socio/1380717345-06-twitter-active.png") no-repeat 14px 10px;
}
.socio .google-plus {
  background: url("../img/socio/1380717309-40-google-plus.png") no-repeat 10px 11px;
}
.socio .google-plus:hover {
  background: url("../img/socio/1380717345-06-google-plus-active.png") no-repeat 14px 10px;
}
.navigation {
  text-align: center;
  padding-left: 15px;
}
.navigation .nav {
  margin-bottom: 15px;
  margin-top: 0px;
  margin-right: 35px;
}
.navigation .nav a {
  font-weight: 400;
  padding: 0px 15px 0px 15px;
}
.navigation .nav a:hover {
  color: #00B625;
}
.content {
  height: auto !important;
  margin: 0px auto -90px;
  min-height: 100%;
  padding: 0px 0px 90px;
}
.content h1 {
  text-align: center;
  font-weight: 100;
  color: #44474C;
  font-size: 44px;
  margin: 0px;
  margin-bottom: 60px;
}
.primary {
  background: #F3F3F3 url("../img/girl-eyes-wallpaper.png") no-repeat right center;
  height: 571px;
  position: relative;
}
.primary .frame {
  background: url("../img/frame.png") no-repeat 0 0;
  position: absolute;
  width: 294px;
  height: 248px;
  right: 130px;
  top: 226px;
}
.primary .tagline {
  color: #44474C;
  font-size: 40px;
  letter-spacing: -1px;
  line-height: 70px;
  padding-bottom: 26px;
  padding-top: 108px;
  position: relative;
}
.primary .tagline .green-line {
  height: 3px;
  background-color: #00B625;
  width: 111px;
}
.primary .tagline p {
  margin-top: 28px;
  margin-bottom: 40px;
}
.primary .btn {
  position: relative;
  color: #F7F7F7;
  display: inline-block;
  background: url("../img/btn-green.png") no-repeat 0 0;
  font-size: 28px;
  border-radius: 5px;
  padding: 12px 30px;
  box-sizing: border-box;
  font-weight: 100;
  letter-spacing: -1px;
}
.primary .btn .icon-arrow {
  background: url("../img/arrow-in.png") no-repeat 0 0;
  padding: 23px;
  float: right;
  margin: 0px;
  margin-left: 20px;
}
.reviews {
  background-color: #45474D;
  margin-bottom: 50px;
}
.reviews ul {
  text-align: center;
  margin: 0;
  padding: 25px 0px 40px 0px;
}
.reviews ul li {
  color: #adadad;
  display: inline-block;
  width: 23%;
  margin: 0 20px;
  padding: 15px 20px 0;
  position: relative;
  vertical-align: top;
  letter-spacing: -1px;
}
.reviews ul li .reviewer-info::after {
  background: #adadad none repeat scroll 0 0;
  content: "";
  display: block;
  height: 1px;
  margin: 10px auto 0;
  width: 180px;
}
.reviews ul li .reviewer-note {
  color: #F7F7F7;
}
.reviews li::before,
.reviews li::after {
  border: 1px solid #adadad;
  content: "";
  display: block;
  width: 20px;
  height: 294px;
  position: absolute;
  top: 0;
  vertical-align: top;
}
.reviews li::before {
  border-right: 0 none;
  left: 0;
}
.reviews li::after {
  border-left: medium none;
  right: 0;
}
.work-process {
  margin-top: 40px;
  margin-bottom: 82px;
}
.work-process li {
  box-sizing: border-box;
  vertical-align: top;
  position: relative;
  text-align: center;
  max-width: 25%;
  padding: 0px 30px;
}
.work-process li:first-child::before {
  display: none;
}
.work-process li::before {
  background: url("../img/arrow-right.png") no-repeat 0 0;
  content: "";
  display: block;
  height: 63px;
  left: -16px;
  position: absolute;
  top: 59px;
  width: 32px;
}
.work-process li::before,
.work-process li::after {
  box-sizing: border-box;
}
.work-process p {
  color: #5c5c5c;
  font-size: 20px;
  line-height: 30px;
  margin-top: 10px;
}
.work-process p b {
  font-weight: normal;
  color: #000;
}
.footer {
  height: 90px;
}
.footer ul::before {
  background: #D6D6D6 none repeat scroll 0 0;
  content: "";
  display: block;
  height: 1px;
  margin-bottom: 40px;
}
.footer li {
  padding-right: 40px;
  font-weight: 300;
  line-height: 30px;
}
.footer li a {
  color: #818181;
}
* {
  transition: all 0.3s ease;
}
