@media screen and (max-width: 1031px) {
  .header {
    border-bottom: 1px solid #e7e7e7;
  }
  .top-panel {
    min-height: 65px;
  }
  .authorization a {
    font-size: 12px;
  }
  .logo {
    float: left;
    width: 100px;
    height: 100px;
    margin-left: 10px;
    margin-top: -58px;
    padding-bottom: 5px;
    margin-bottom: 15px;
    background-size: contain;
  }
  .socio {
    display: none;
  }
  .navigation {
    margin-top: 30px;
    padding: 0px 0px 0px 120px;
    width: auto;
    text-align: right;
    font-size: 14px;
  }
  .primary {
    height: 430px;
    padding-bottom: 20px;
    background: #F3F3F3 url("../img/girl-eyes-wallpaper-with-frame.png") no-repeat right center;
    background-size: 65% auto;
    height: 300px;
  }
  .primary .frame {
    display: none;
  }
  .primary .tagline {
    padding: 40px 0px 26px 20px;
  }
  .primary .tagline .green-line {
    height: 2px;
    width: 80px;
  }
  .primary .tagline p {
    margin-bottom: 0px;
    font-size: 50%;
    line-height: 40px;
  }
  .primary .btn {
    margin-left: 20px;
    font-size: 20px;
    padding: 12px 20px;
  }
  .primary .btn .icon-arrow {
    background-size: contain;
    padding: 15px;
  }
  .reviews ul {
    text-align: left;
    padding: 25px 0px;
  }
  .reviews ul li {
    box-sizing: border-box;
    height: 190px;
    width: 100%;
    margin: 0px 0px 15px;
    font-size: 15px;
  }
  .reviews ul li p {
    text-align: left;
  }
  .reviews ul li .reviewer-photo {
    float: left;
    margin-right: 20px;
    margin-top: 12px;
  }
  .reviews ul li .reviewer-photo img {
    width: 69px;
    height: 69px;
    position: relative;
  }
  .reviews ul li .reviewer-name::after {
    margin: 10px 0 0 90px;
  }
  .reviews li::before,
  .reviews li::after {
    height: 190px;
  }
  .work-process {
    white-space: nowrap;
  }
  .work-process p {
    white-space: normal;
    font-size: 14px;
    line-height: 30px;
  }
  .work-process li img {
    width: 100%;
    vertical-align: middle;
  }
  .content h1 {
    font-size: 30px;
  }
}
